Header name comparison should not be case-sensitive

Making a request to a system whose candidate returns headers in a different case shows one as a missing field while the other is shown as an extra field. Example:
<img width="493" alt="image" src="https://user-images.githubusercontent.com/134835/230087265-d4e3b4b7-2b34-49ef-948a-d3a4ace8d103.png">

According to [RFC 2616 section 4.2](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2) and the updated [RFC 7230 section 3.2](https://www.rfc-editor.org/rfc/rfc7230#section-3.2), header names are case insensitive.
Although in a tool like diffy it might make sense as some clients/servers might not respect the spec, maybe there should a special `FieldCase` category or a way to ignore header case showing as differences.

Fair point @joelmarty. I think your latter proposal of case insensitive treatment of headers makes sense. The simplest implementation might be to normalize all header fields to lower case before performing a comparison.

This change has been merged to the latest master.